<%- include("../partials/header"); -%>
<%- include("../partials/navbar"); -%>

<div class="container">


  <%events.forEach((event)=>{%>

    <div class="p-4 p-md-5 mb-4 mt-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic text-capitalize"><%=event.title %></h1>
            <hr>

          <p class="lead my-3"><%=event.description %></p>
        <h4><i class="badge bg-secondary"><%=event.location %></i> <i class="badge bg-info"><%=event.date.toDateString() %></i></h4>
        <%if(user && user.id === event.author){%>
          <a href="/events/edit/<%=event._id%>" class="btn btn-outline-primary  btn-lg" style="margin-right:10px;">Edit</a>

          <a href="/events/delete/<%=event._id%>" class="btn btn-outline-danger btn-lg">Delete</a>
        <%}%>




        </div>
      </div>
  <%})%>



</div>
<%- include("../partials/footer"); -%>
