
<%- include("../partials/header"); -%>
<%- include("../partials/navbar"); -%>

<div class="container mt-4 mb-4">
  <div class="row">
<h2>Choose your speaker/s</h2> <a href="<%='/events/show/'+ event._id %>">skip</a>
<hr>
<%speakers.forEach((speaker)=>{%>
<div class="speakerdiv col-lg-4 col-md-6">
  <div class="speakerCards card p-4">
      <div class=" spimage d-flex flex-column justify-content-center align-items-center"> <button class="btn2 btn btn-secondary"> <img src="/images/<%=speaker.avatar%>" height="100" width="100" /></button> <span class="name mt-3"><%=speaker.firstName + ' ' + speaker.lastName%></span> <span class="idd"><%=speaker.email%></span>
          <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <h4 class="">Skills</h4> </div>
          <div class="">
          <%  speaker.skills.forEach((skill)=>{%>
              <span class="badge bg-secondary"> <%=skill%></span>
            <%});%>
          </div>
          <div class=" d-flex mt-2"> <form  action="/events/inviteSpeaker" method="post">
            <input type="hidden" value="<%=speaker.id%>" name="speakerId">
          <input type="hidden" value="<%=skillsneeded%>" name="skillsneeded">
            <input type="hidden" value="<%=eventId%>" name="eventId">
            <input type="hidden" value="<%=event.title%>" name="eventTitle">
            <input type="hidden" value="<%=event.date%>" name="eventDate">
              
         <%let spId = speaker.id %>
            <%if(!(event.speakersAdded.includes(spId))){%>

                <button type="submit" name="action" value="add" id="inviteSpeaker" class="btn1 btn-dark">Invite</button>
            <%}else{%>
              <button type="submit" name="action" value="cancell" id="inviteSpeaker" class="btn btn-danger">cancel request</button>
            <%}%>





          </form> </div>
          <div class="text mt-3"> <span>Eleanor Pena is a creator of minimalistic x bold graphics and digital artwork.<br><br> Artist/ Creative Director by Day #NFT minting@ with FND night. </span> </div>
          <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>
          <div class=" px-2 rounded mt-4 date "> <span class="join">Joined at<%=' '+speaker.created_At.toDateString() %></span> </div>
      </div>
  </div>
</div>


<%});%>
</div>
  </div>


<%- include("../partials/footer"); -%>
